[package]
name = "life-engine-rs"
version = "0.1.0"
publish = false
authors = ["Daniel Gallups <dsgallups@protonmail.com>"]
edition = "2021"

[features]
dev = [
    "dep:bevy-inspector-egui",
    "dep:bevy_egui",
    "bevy/bevy_dev_tools",
    "bevy/bevy_ui_debug",
    "bevy/debug",
    # Improve error messages coming from Bevy
    "bevy/track_location",
    # "bevy/glam_assert",
    "bevy/sysinfo_plugin",
    # Disable when hotpatching
]

[dependencies]
bevy = { version = "0.17", features = ["experimental_bevy_feathers"] }
bevy_ui_text_input = { git = "https://github.com/dsgallups/bevy_ui_text_input.git", branch = "dsgallups/disable-default" }
cosmic-text = "0.14"

# dev
bevy-inspector-egui = {version = "0.35", optional = true }
bevy_egui = { version = "0.38", features = ["bevy_ui"], optional = true }



[profile.dev]
opt-level = 1
panic = "abort"  # drop unwinder
debug = false

[profile.dev.package."*"]
opt-level = 3


[profile.release]
codegen-units = 1
lto = "thin"


[lints.rust]
# Mark `bevy_lint` as a valid `cfg`, as it is set when the Bevy linter runs.
unexpected_cfgs = { level = "warn", check-cfg = ["cfg(bevy_lint)"] }
unused_parens = "allow"

[lints.clippy]
# Bevy supplies arguments to systems via dependency injection, so it's natural for systems to
# request more than 7 arguments, which would undesirably trigger this lint.
too_many_arguments = "allow"
# Queries may access many components, which would undesirably trigger this lint.
type_complexity = "allow"
# Make sure macros use their standard braces, such as `[]` for `bevy_ecs::children!`.
nonstandard_macro_braces = "warn"
double-parens = "allow"
