[package]
name = "life-engine-rs"
version = "0.1.0"
publish = false
authors = ["Daniel Gallups <dsgallups@protonmail.com>"]
edition = "2021"


[dependencies.bevy]
version = "0.16"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3


[profile.release]
codegen-units = 1
lto = "thin"

# Profile for distribution
[profile.dist]
inherits = "release"
opt-level = 3
lto = true
codegen-units = 1
strip = true


[lints.clippy]
too_many_arguments = "allow"
type_complexity = "allow"
